<div class="container">

    <h1 class="text-center">Chat Ecommerce</h1>
    <div class="row">
        <div class="col-4">
            <h3>User: <span id="userName"></span></h3>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="chatBox">
                <label for="chatBox">Message</label>
            </div>
        </div>
        <div class="col-8" id="messageLogs">

        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>